@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

i {
    margin: 5px;
    font-size: 21px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*---------- Left Side ----------*/

.left {
    height: 100vh;
    width: 22%;
    background: #1d1d1d;
    color: white;
    position: relative;
}

.left .new_chat {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 200ms;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 10px;
    padding: 12px 20px;
    flex-shrink: 0;

}

.left .new_chat:hover {
    background-color: rgba(130, 130, 130, 0.1);
}

.left .new_chat i {
    height: 16px;
    width: 16px;
    stroke-width: 12px;
    stroke: currentColor;
}

.chat_history {
    margin: 1.2rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    overflow: auto;
    height: auto;
}

.chat_history .history {
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 96%;
    text-align: left;
}

.chat_history .history:hover {
    background-color: rgb(151, 151, 163);
}

.history .buttons i {
    padding: 6px;
    border-radius: 1rem;
    font-size: 1rem;
}

.settings {
    position: absolute;
    bottom: 1px;
    border-top: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    left: 10px;
    height: max-content;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.settings .upgrade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 1.5rem;
    border-radius: 6px;
    width: 100%;
}

.settings button {
    background: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 0.5rem;
    font-size: 15px;
}

.upgrade .upgrade_new {
    border-radius: 0.375rem;
    background-color: rgb(245, 192, 122);
    padding: 0.120rem 0.375rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: #2d3748;
}

.settings .upgrade:hover,
.settings .profile:hover {
    background-color: rgb(97, 98, 112);
    transition: 200ms;
    cursor: pointer;
}

.settings .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
}

.settings .profile .user {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 1rem;
}

.user img {
    border-radius: 50%;
}

.user h3 {
    font-size: 19px;
}

/*----------- Right Side -----------*/

.right {
    height: 100vh;
    width: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 180px;
}

.right h1 {
    font-weight: 800;
}

.right .items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74%;
    /* margin: 0rem; */
}

.right .items .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.item i,
.item p {
    margin: 5px;
    font-size: 24px;
    font-weight: 550;
}

.item_query {
    margin-top: 1rem;
}

.items .item button {
    font-size: 16px;
    width: 100%;
    padding: 0.75rem;
    background-color: #d8d8d8;
    border-radius: 0.7rem;
    margin: 0.4rem;
    border: none;
}

.items .item:nth-child(1) button:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}

/*--------- input bar ---------*/
.input {
    width: 74%;
    position: absolute;
    bottom: 30px;
    left: 15%;
}

.input input {
    padding: 1rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    width: 96%;
    background-color: #cdcdcd;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 545;
    margin-bottom: 12px;
}

.input i {
    position: absolute;
    top: 52px;
    margin: -40px;
    font-size: 28px;
    cursor: pointer;
}

.input i:hover {
    opacity: 0.5;
}

.input p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-left: -36px;
}


/* ----------------------------------- XXXX ------------------------------------ */
